.container {
    position: relative;
    width: 1200px;
    border: 3px solid orange;
    text-align: center;
}

.item {
    width: 100px;
    height: 100px;
    line-height: 100px;
    border: 1px solid gray;
    background-color: #ddd;
}

.box1{ padding-top: 20px; }
.box2{ padding-right: 40px; }
.box3{ padding-bottom: 60px; }
.box4{ padding-left: 80px; }