@charset "UTF-8";

/* 
    전체 선택자를 이용. 모든 선택자의 margin과 padding을 0으로 지정
    : 요소가 갖는 기본 여백을 제거
 */
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #aaa;
}

header {
    height: 85px;
    background-color: #bbb;
    padding: 10px;
}
header h1 {
    float: left;
    font-size: 1.8rem;
}
header ul {
    float: right;
    list-style-type: none;
}
header ul li {
    display: inline-block;
}
article {
    min-height: 500px;
}
article aside {
    float: left;
    width: 300px;
    height: 500px;
    background-color: #ccc;
    text-align: center;
}
article section {
    float: right;
    width: calc(100% - 300px);
    height: 500px;
    background-color: #ddd;
}

footer {
    height: 10px;
    line-height: 10px;
    background-color: #eee;
    text-align: center;
    padding: 20px;
}


/* TODO: 여기에 작성해보세요 */

li {list-style-type: none;}
/* 클래스 선택자 */
/* TODO: 여기에 작성해보세요 */
.container {
    width: 900px;
    margin: 0 auto;
    border : 5px solid black
}


/* 종속선택자 */
/* TODO: 여기에 작성해보세요 */
h1.logo {
    background: url(../img/logo.png) no-repeat center left;
    background-size: cover;
    width: 250px;
    height: 80px;
    margin-left: 10px;
    text-indent: -9999px;
}